* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../_imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bvindo{
    color: white;
    display:contents;
}
.mapa_nata{
    width: 950px;
    height: 550px;
    margin-left: 400px;
    margin-top: 20px;
}

